body{
    background-color: rgb(215, 214, 214) ;
}
.contenaire{
    text-align: center;
}
#calculatebutton{
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}
#calculatebutton:hover{
    background-color: rgb(34, 132, 211);
    color: black;
    transform: ;
}